# compiled source
bin/
target/

# repast outputs
freezedried_data/
output/

# logging
MessageCenter.log4j.properties

# compiled classes
*\$py.class

# temporary files for illustration during development
Building.py
BuildingFactory.java
BuildingType.java

# Documentation, not under vcs for the time being
docs/*

# javadoc site
site/*
