/bin/
/target/

# compiled classes
*\$py.class

# temporary files for illustration during development
Building.py
BuildingFactory.java
BuildingType.java

# Documentation, not under vcs for the time being
docs/*


