<context id="AgroSuccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">

<attribute id="geoDataDir" display_name="Geographic Data Directory" value="/AgroSuccess/data/geographic" type="string" />
<attribute id="studySite" display_name="Study Site" value="navarres" type="string"/>
  	
</context>
