* {
	underline:true;
	fontName:"Bitstream Vera Sans";
	fontHeight:10;
}

Association > Label:sourceRole {
	maskLabel:none;
}

Association > Label:targetRole {
	maskLabel:none;
}

Class > Compartment[kind="nestedclassifiers"] {
    visible:false;
}